<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head", {title: "Creación de productos"}) %>

  <body>
    <%- include("../partials/header") %>
    
    <main>
      <form class="form-register" action="/products" method="post" enctype="multipart/form-data">
        <h3 class="título form product-create">Formulario de creación de productos</h3>
        
        <label for="name">
          Nombre del libro <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="text" name="name" id="name"
        value="<%= locals.body?.name %>" placeholder="Ingrese el nombre del libro" autofocus>
        <p class="feedback">
          <%= locals.errors?.name?.msg %>
        </p>

        <label for="author">
          Nombre del autor <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="text" name="author" id="author"
        value="<%= locals.body?.author %>" placeholder="Ingrese el nombre del autor">
        <p class="feedback">
          <%= locals.errors?.author?.msg %>
        </p>
        
        <label for="isbn">
          ISBN <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="text" name="isbn" id="isbn"
        value="<%= locals.body?.isbn %>" placeholder="Ingrese el ISBN del texto">
        <p class="feedback">
          <%= locals.errors?.isbn?.msg %>
        </p>
        
        <label for="genre">
          Género <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="text" name="genre" id="genre"
        value="<%= locals.body?.type %>" placeholder="Ingrese el género de su libro">
        <p class="feedback">
          <%= locals.errors?.type?.msg %>
        </p>
        
        <label for="price">
          Precio <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="number" name="price" id="price"
        value="<%= locals.body?.price %>" placeholder="Ingresa el precio del libro" min="0" step="100">
        <p class="feedback">
          <%= locals.errors?.price?.msg %>
        </p>
        
        <label for="description">
          Descripción
        </label>
        <textarea class="controls login-box__input" name="description" id="description"
        placeholder="Ingrese una descripción"><%= locals.body?.description %></textarea>
        
        <label for="product_image">
          Foto del libro
        </label>
        <input class="controls login-box__input" type="file" name="product_image" id="product_image" accept="image/*">
        <p class="feedback">
          <%= locals.errors?.product_image?.msg %>
        </p>

        <p class="terms">
          <input type="checkbox" name="agree" id="agree">
          <label for="agree">
            Estoy de acuerdo con los <a href="#"><b>Términos y Condiciones</b></a>
          </label>
        </p>
        
        <input class="botons" type="submit" value="Registrar">
        
        <a href="/products">Quiero modificar un producto ya creado</a>
      </form>
    </main>

    <%- include("../partials/footer") %>
  </body>

</html>