<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head", {title: "Detalles del producto"}) %>

  <body>
    <%- include("../partials/header") %>
    
    <%- include("../partials/whatsapp") %>

    <main>
      <h1>
        Detalle del producto
      </h1>

      <section>
        <article class="articulo">
          <div class="articulo--top">
            <div class="articulo--top--img">
              <img src=<%= "/img/products/" + libro.img_path %> alt="">
              <form action="" method="post"></form>
            </div>

            <div class="articulo--top--info">
              <h2 class="title-info">
                <b> <strong><%= libro.name %> </strong></b>
              </h2>

              <p class="author-info">
                <b>Autor:</b> <%= libro.author %>
              </p>

              <p class="isbn-info">
                <b>ISBN:</b> <%= libro.isbn %>
              </p>

              <p class="house-info">
                <b>Editorial:</b> <%= libro.house %>
              </p>

              <p class="price-info">
                <b>Precio:</b> $<%= toThousand(libro.price) %>
              </p>

              <p class="description-info">
                <%= libro.description %>
              </p>
            </div>
          </div>
        </article>
      </section>
    </main>

    <%- include("../partials/footer") %>
  </body>

</html>