<!DOCTYPE html>
<html lang="es">

  <head>
    <%- include("../partials/head") %>
    <title>Detalles del producto</title>
    <link rel="stylesheet" href="/css/style-detail.css">
    <script defer src="/js/validations/products/product-image.js"></script>
  </head>

  <body>
    <%- include("../partials/header") %>

    <%- include("../partials/whatsapp") %>

    <div class="body-wrapper">
      <main>
        <h1>
          Detalle del producto
        </h1>
        
        <section>
          <article class="articulo">
            <div class="articulo--top">
              <div class="articulo--top--img">
                <img src=<%= "/img/products/" + locals.libro.img_path %> alt="">
                <% if (locals.session?.user?.category === "vendor") { %>
                <form class="articulo--top--img-edit" action=<%= "/products/" + locals.id + "?_method=PUT" %> method="post"  enctype='multipart/form-data'>
                  <label for="img-edit">Cambiar foto</label>
                  <input type="file" name="product_img" id="img-edit" accept="image/*">
                </form>
                <% } %>
              </div>
              <div class="articulo--top--info">
                <h2 class="title-info">
                  <strong><%= locals.libro.name %></strong>
                </h2>

                <p class="author-info">
                  <b>Autor:</b> <%= locals.libro.author %>
                </p>

                <p class="isbn-info">
                  <b>ISBN:</b> <%= locals.libro.isbn %>
                </p>

                <p class="house-info">
                  <b>Editorial:</b> <%= locals.libro.house %>
                </p>

                <% if (locals.libro.genreNames.length) { %>
                  <p class="genres-info">
                    <b>Géneros:</b> <%= locals.libro.genreNames.join(", ") + "." %>
                  </p>
                <% } %>

                <p class="price-info">
                  <b>Precio:</b> $<%= toThousand(locals.libro.price) %>
                </p>

                <p class="description-info">
                  <%= locals.libro.description %>
                </p>

                <% if (locals.session?.user?.category === "vendor") { %>
                  <a href=<%= "/products/" + locals.id + "/edit" %> class="articulo--edit btn-1">
                    Editar producto
                  </a>
                  <p class="feedback">
                    <%= locals.errors?.product_img?.msg %>
                  </p>
                <% } %>
              </div>
            </div>
          </article>
        </section>
      </main>
      <%- include("../partials/footer") %>
    </div>
  </body>

</html>