<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head", {title: "Edición"}) %>

  <body>
    <%- include("../partials/header") %>
    
    <main>
      <form class="form-register" action=<%= "/products/" + id + "?_method=PUT" %>  method="post" enctype="multipart/form-data">
        <h3 class="título form product-create">Formulario Edición Productos</h3>
        
        <label for="name">
          Nombre <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="text" name="name" id="name" 
        value= "<%= locals.body?.name %>" placeholder="<%= locals.body?.name %>" autofocus>
        <p class="feedback"><%= locals.errors?.name?.msg %> </p>

        <label for="author">
          Autor <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="text" name="author" id="author" 
        value= "<%= locals.body?.author.name %>" placeholder="<%= locals.body?.author.name %>" >
        <p class="feedback"><%= locals.errors?.author?.msg %> </p>
        
        <label for="isbn">
          ISBN <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="text" name="isbn" id="isbn" 
        value= "<%= locals.body?.isbn %>" placeholder="<%= locals.body?.isbn %>" >
        <p class="feedback"><%= locals.errors?.isbn?.msg %> </p>

        <label for="genre">
          Género <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="text" name="genre" id="genre" 
        value= <%= locals.body?.type %> >
        <p class="feedback"><%= locals.errors?.type?.msg %> </p>

        <label for="price">
          Precio <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="number" name="price" id="price" 
        value= <%= locals.body?.price %> placeholder= "<%= "$ " + toThousand(locals.body?.price) %>" min="0" step="100">
        <p class="feedback"><%= locals.errors?.price?.msg %> </p>

        <label for="desc">
          Descripción
        </label>
        <textarea class="controls login-box__input" name="description" id="description"
        placeholder= "<%= locals.body?.description || "" %>"><%= locals.body?.description %></textarea>

        <label for="product_image">
          Foto del libro
        </label>
        <input class="controls login-box__input" type="file" name="product_image" id="product_image" accept="image/*">
        <p class="feedback"><%= locals.errors?.product_image?.msg %> </p>
        
        <input class="botons" type="submit" value="Editar">
        
        <p>
          <a href="/products/create">Quiero crear un producto</a>
        </p>
      </form>
    </main>
    
    <%- include("../partials/footer") %>
  </body>

</html>