<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head", {title: "Edición"}) %>

  <body>
    <%- include("../partials/header") %>
    
    <main>
      <form class="form-register" action=<%= "/products/" + id + "?_method=PUT" %>  method="post" enctype="multipart/form-data">
        <h3 class="título form product-create">Formulario Edición Productos</h3>
        
        <label for="name">
          Nombre <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="text" name="name" id="name" 
        value= "<%= locals.libro?.name %>" placeholder="<%= locals.libro?.name %>" autofocus>
        <p class="feedback"><%= locals.errors?.name.msg %> </p>

        <label for="author">
          Autor <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="text" name="author" id="author" 
        value= "<%= locals.libro?.author %>" placeholder="<%= locals.libro?.author %>" >
        <p class="feedback"><%= locals.errors?.author.msg %> </p>
        
        <label for="isbn">
          ISBN <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="text" name="isbn" id="isbn" 
        value= "<%= locals.libro?.isbn %>" placeholder="<%= locals.libro?.isbn %>" >
        <p class="feedback"><%= locals.errors?.isbn.msg %> </p>

        <label for="type">
          Género <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="text" name="type" id="type" 
        value= <%= locals.libro?.type %> >
        <p class="feedback"><%= locals.errors?.type.msg %> </p>

        <label for="price">
          Precio <sup class="required">*</sup>
        </label>
        <input class="controls login-box__input" type="number" name="price" id="price" 
        value= <%= locals.libro?.price %> placeholder= "<%= "$ " + toThousand(locals.libro?.price) %>" min="0" step="100">
        <p class="feedback"><%= locals.errors?.price.msg %> </p>

        <label for="desc">
          Descripción
        </label>
        <textarea class="controls login-box__input" name="desc" id="desc"
        placeholder= "<%= locals.libro?.description || "" %>"><%= locals.libro?.description %></textarea>

        <label for="product_image">
          Foto del libro
        </label>
        <input class="controls login-box__input" type="file" name="product_image" id="product_image" accept="image/*">
        <p class="feedback"><%= locals.errors?.product_image.msg %> </p>
        
        <input class="botons" type="submit" value="Editar">
        
        <p>
          <a href="/products/create">Quiero crear un producto</a>
        </p>
      </form>
    </main>
    
    <%- include("../partials/footer") %>
  </body>

</html>