<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head", {title: "Productos"}) %>

  <body>
    <%- include("../partials/header") %>

    <%- include("../partials/whatsapp") %>

    <main>
      <h1>
        ADMINISTRACIÓN ARTICULOS
      </h1>

      <section>
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Borrar</th>
          </tr>

          <% libros.forEach(libro => { %>
          <tr>
            <td>
              <%= libro.id %>
            </td>

            <td>
              <%= libro.name %>
            </td>

            <td>
              <a href=<%= "/products/" + libro.id  %> >
                <i class="fas fa-eye"></i>
              </a>
            </td>

            <td>
              <a href=<%= "/products/" + libro.id + "/edit" %> >
                <i class="fas fa-edit"></i>
              </a>
            </td>

            <td>
              <a href="#">
                <form action= <%= "/products/" + libro.id + "?_method=DELETE" %> method="post">
                  <button type="submit" class="delete-button">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </form>
              </a>
            </td>
          </tr>
          <% }) %> 

        </table>
      </section>
    </main>

    <%- include("../partials/footer") %>
  </body>

</html>