<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head") %>
    <title>Productos</title>
  </head>

  <body>
    <%- include("../partials/header") %>
    
    <%- include("../partials/whatsapp") %>

    <div class="body-wrapper">
      <main>
        <h1>
          ADMINISTRACIÓN ARTICULOS
        </h1>
        <section>
          <table class="products-table">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Ver</th>
              <th>Editar</th>
              <th>Borrar</th>
            </tr>
            <% libros.forEach(libro => { %>
            <tr>
              <td>
                <%= libro.id %>
              </td>
              <td>
                <%= libro.name %>
              </td>
              <td>
                <a href=<%= "/products/" + libro.id  %> class="eyecon">
                  <i class="fas fa-eye"></i>
                </a>
              </td>
              <td>
                <a href=<%= "/products/" + libro.id + "/edit" %> class="edit-icon">
                  <i class="fas fa-edit"></i>
                </a>
              </td>
              <td>
                <form action= <%= "/products/" + libro.id + "?_method=DELETE" %> method="post" class="delete">
                  <button type="submit" class="delete-icon">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </form>
              </td>
            </tr>
            <% }) %>
          </table>
        </section>
      </main>
      <%- include("../partials/footer") %>
    </div>
  </body>

</html>