<!DOCTYPE html>
<html lang="es">

  <%- include("partials/head", {title: "L STANDS FOR LIBROS"}) %>

  <body>
    <%- include("./partials/header") %>

    <%- include("./partials/whatsapp") %>

    <main>
      <img class="reference" src="/img/library.png" alt="library">
      <div>
        <h1 class="initial">Algunos títulos que te recomendamos</h1>
      </div>
      <section class="contenedor1">
        <% libros.forEach(libro => { %>

        <a href=<%= "/products/" + libro.id %> class="product">
          <img class="product-image" src=<%= "/img/products/" + libro.img %>>

          <div class="descrip">
            <div class="precio">
              $ <%= toThousand(libro.price) %>
            </div>

            <div class="title">
              <%= libro.name %>
            </div>

            <div class="autor">
              <%= libro.autor %>
            </div>
          </div>
          <!-- <a class="details" href=<%= "/products/" + libro.id %> >Ver más</a> -->
        </a>
        <% }) %>

      </section>

    </main>
    <%- include("./partials/footer") %>
  </body>

</html>