<!DOCTYPE html>
<html lang="es">

  <head>
    <%- include("./partials/head") %>
    <title>L STANDS FOR LIBROS</title>
  </head>

  <body>
    <%- include("./partials/header") %>
    
    <%- include("./partials/whatsapp") %>

    <div class="body-wrapper">
      <main>
        <div class="initial">
          <h1>
            <span class="laptop">👇</span> Algunos títulos que te recomendamos <span class="laptop">👇</span>
          </h1>
        </div>

        <section class="contenedor1">
          <% locals.libros?.forEach(libro => { %>

          <a href=<%= "/products/" + libro.id %> class="product">
            <div class="image-container">
              <img class="product-image" src=<%= "/img/products/" + libro.img_path %> >
            </div>

            <div class="descrip">
              <div class="precio">
                $ <%= toThousand(libro.price) %>
              </div>

              <div class="title">
                <%= libro.name %>
              </div>
              
              <div class="author">
                <%= libro.author %>
              </div>
            </div>
          </a>
          <% }) %>
        </section>
      </main>
      
      <%- include("./partials/footer") %>
    </div>
  </body>

</html>