<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>

    <%- include("./partials/whatsapp.ejs") %>

    <main>
      <img class="reference" src="/img/library.png" alt="library">
      <div>
        <h1 class="initial">Algunos títulos que te recomendamos</h1>
      </div>
      <section class="contenedor1">
        <% libros.forEach(libro => { %>

          <article class="product">
            <img class="product-image" src=<%= "/img/products/" + libro.img %> alt="american_marxism book">
            <div class="total">
              <div class="truckie"><i class="fas fa-truck"></i></div>
                <p class="precio">$ <%= libro.price %></p>
            </div>
            <p class="descrip">
              <%= libro.desc %>
            </p>
            </div>
            <a class="details" href=<%= "/product-detail/" + libro.id %>>Quiero saber más</a>
          </article>
        <% }) %>

      </section>

    </main>
    <%- include("./partials/footer.ejs") %>
  </body>

</html>