<!DOCTYPE html>
<html lang="es">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>

    <%- include("./partials/whatsapp.ejs") %>

    <main>
      <h1>
        ADMINISTRACIÓN ARTICULOS
      </h1>

      <section class="table">
        <div class="tr">
          <div class="th">ID</div>
          <div class="th">Nombre</div>
          <div class="th">View</div>
          <div class="th">Edit</div>
          <div class="th">Eliminar</div>
        </div>

        <% libros.forEach(libro => { %>
        <div class="tr">
          <div class="td">
            <%= libro.id %>
          </div>

          <div class="td">
            <%= libro.name %>
          </div>

          <div class="td">
            <a href=<%= "/products/" + libro.id %>>
              <i class="fa-solid fa-eye"></i>
            </a>
          </div>

          <div class="td">
            <a href=<%= "/products/" +libro.id + "/edit" %>>
              <i class="fa-solid fa-pen-to-square"></i>
              </i></a>
          </div>

          <div class="td">
            <a href=<%= "/products/:id" + libro.id  %>>
              <i class="fa-solid fa-div class=" tr"ash-can"></i>
            </a>
          </div>
        </div>
        <% }) %>

      </section>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>

</html>