<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>

    <%- include("./partials/whatsapp.ejs") %>

    <main>
      <h1>
        Detalle del producto
      </h1>

      <section>
        <article class="articulo">
          <div class="articulo--top">
            <img src=<%= "./img/" + libro.img %> alt="" class="articulo--top--img">
            <div class="articulo--top--info">
              <p><b> <%= libro.name %> </b></p>
              <p><b>Autor:</b> <%= libro.autor %></p>
              <p><b>ISBN:</b> <%= libro.isbn %></p>
              <p><b>Tipo:</b> <%= libro.type %></p>

              <p class="articulo--desc laptop">
                <%= libro.desc %>
              </p>
            </div>
          </div>
        </article>
      </section>
    </main>

    <footer>
      <section class="footer-art">
        <div class="izquierda">
          <div class="icon"><i class="fas fa-phone-alt"></i></div>
          <p><strong>Teléfono</strong></p>
          <p>601-7658531</p>
          <div class="cuadrito">
            <p><strong>Redes Sociales</strong></p>
          </div>
          <div class="social">
            <a href="https://twitter.com/" class="social-link-twitter"><span class="dot"></span></a>
            <a href="https://facebook.com/" class="social-link-facebook"><span class="dot"></span></a>
            <a href="https://instagram.com/" class="social-link-instagram"><span class="dot"></span></a>
          </div>
        </div>

        <div><img src="./img/logo.png" alt="" class="logo-footer"></div>

        <div class="derecha">
          <div class="icon"><i class="fas fa-store-alt"></i></div>
          <p><strong>Tienda física</strong></p>
          <p>Calle 65 No 58c-79 Local 204</p>
          <div class="hecho">
            Hecho con ❤️ por Proyecto 7
          </div>
        </div>
      </section>
    </footer>
  </body>

</html>