<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-carrito.css">
  </head>

  <body>
    <%- include("./partials/header.ejs") %> 

    <%- include("./partials/whatsapp.ejs") %>

    <main>
      <h1>
        Tu carrito de compras
      </h1>

      <section class="libros">

        <% libros.forEach(libro => { %>
          <article class="libro">
            <div class="libro--top">
              <img src= <%= "./img/" + libro.img %>  alt="" class="libro--top--img">
  
              <div class="libro--cuerpo">
                <div class="libro--cuerpo--top">
                  <div class="libro--texto">
                    <p class="libro--titulo"><b><%= libro.name %> </b></p>
                    <p><b>Autor:</b> <%= libro.autor %>  </p>
                    <p><b>ISBN:</b> <%= libro.isbn %></p>
                    <p><b>Tipo:</b> <%= libro.type %></p>
                  </div>
                  
                  <p class="libro--remove">
                    <i class="fas fa-times"></i>
                  </p>
                </div>
  
                <p class="libro--desc">
                  <%= libro.desc %>
                </p>
  
                <div class="libro--bottom laptop">
                  <select name="cant" class="libro--bottom--cant" id="cant">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                  </select>
  
                  <p class="libro--bottom--cost">
                    <b>Costo unitario:</b> $ <%= libro.price %>
                  </p>
                </div>
              </div>
  
            </div>
  
            <div class="libro--bottom mobile">
              <select name="cant" class="libro--bottom--cant" id="cant">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
              </select>
              <p class="libro--bottom--cost">
                <b>Costo unitario:</b> $ <%= libro.price %>
              </p>
            </div>
          </article>
        <% }) %>

      </section>

      <section class="costos">
        <div class="rotulos">
          <p>Subtotal:</p>
          <p>Descuento:</p>
          <p>Total a pagar:</p>
        </div>

        <div class="valores">
          <p> $ <%= libros.reduce((total, libro) => total + libro.price, 0) %> </p>
          <p class="descuento"> - $ <%= 0.1 * libros.reduce((total, libro) => total + libro.price, 0) %></p>
          <p> $ <%= 0.9 * libros.reduce((total, libro) => total + libro.price, 0) %></p>
        </div>
      </section>

      <section class="botones">
        <div class="boton">Buscar mas <br> productos</div>
        <div class="boton">Finalizar compra</div>
      </section>
    </main>

    <footer>
      <section class="footer-art">
        <div class="izquierda">
          <div class="icon"><i class="fas fa-phone-alt"></i></div>
          <p><strong>Teléfono</strong></p>
          <p>601-7658531</p>
          <div class="cuadrito">
            <p><strong>Redes Sociales</strong></p>
          </div>
          <div class="social">
            <a href="https://twitter.com/" class="social-link-twitter"><span class="dot"></span></a>
            <a href="https://facebook.com/" class="social-link-facebook"><span class="dot"></span></a>
            <a href="https://instagram.com/" class="social-link-instagram"><span class="dot"></span></a>
          </div>
        </div>

        <div><img src="./img/logo.png" alt="" class="logo-footer"></div>

        <div class="derecha">
          <div class="icon"><i class="fas fa-store-alt"></i></div>
          <p><strong>Tienda física</strong></p>
          <p>Calle 65 No 58c-79 Local 204</p>
          <div class="hecho">
            Hecho con ❤️ por Proyecto 7
          </div>
        </div>
      </section>
    </footer>
  </body>

</html>