<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>

    <%- include("./partials/whatsapp.ejs") %>

    <main>
      <h1>
        ADMINISTRACIÓN ARTICULOS
      </h1>

      <section>
        <article class="articulo-edit">
          <p class = "titulo-edit">ADMINISTRACIÓN ARTICULOS</p>
          <div class="contenedor-libro-id"><b> <%= libro.id %> </b></div>
          <div class="contenedor-libro-name"><b> <%= libro.name %> </b></div>
          <div><a href="#" class="cajita-edicion"> <%= Para editar %> </a></div>
          <div><a href="#" class="cajita-borrar"> <%= Para borrar %> </a></div>
          <div><a href="# " class="cajita-ver"> <%= Para ver %> </a></div>
        </article>
      </section>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>

</html>