<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>

    <%- include("./partials/whatsapp.ejs") %>

    <main>
      <h1>
        Detalle del producto
      </h1>

      <section>
        <article class="articulo">
          <div class="articulo--top">
            <img src=<%= "/img/products/" + libro.img %> alt="" class="articulo--top--img">
            <div class="articulo--top--info">
              <p><b> <%= libro.name %> </b></p>
              <p><b>Autor:</b> <%= libro.autor %></p>
              <p><b>ISBN:</b> <%= libro.isbn %></p>
              <p><b>Tipo:</b> <%= libro.type %></p>

              <p class="articulo--desc laptop">
                <%= libro.desc %>
              </p>
            </div>
          </div>
        </article>
      </section>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>

</html>