<!DOCTYPE html>
<html lang="es">

  <head>
    <%- include("../partials/head") %>
    <title>Cambiar contraseña</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.7.0/validator.min.js" integrity="sha512-rJU+PnS2bHzDCvRGFhXouCSxf4YYaUyUfjXMHsHFfMKhWDIEBr8go2LZ2EYXOqASey1tWc2qToeOCYh9et2aGQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="/js/validations/users/password-edit.js"></script>
  </head>

  <body>
    <%- include("../partials/header") %>

    <%- include("../partials/whatsapp") %>

    <div class="body-wrapper">
      <main>
        <form class="form-register" action="/users/profile/password?_method=PUT" method="post">
          <h3>Cambia tu contraseña</h3>
          <label for="old_password">
            Contraseña anterior
          </label>
          <input class="controls login-box__input" type="password" name="old_password" id="old_password" placeholder="Escribe aquí tu contraseña anterior" autofocus>
          <p class="feedback"><%= locals.errors?.old_password?.msg %> </p>
      
          <label for="new_password">
            Contraseña nueva
          </label>
          <input class="controls login-box__input" type="password" name="new_password" id="new_password" placeholder="Escribe aquí tu contraseña nueva">
          <p class="feedback"><%= locals.errors?.new_password?.msg %> </p>
      
          <label for="new_password_confirm">
            Confirmar contraseña nueva
          </label>
          <input class="controls login-box__input" type="password" name="new_password_confirm" id="new_password_confirm" placeholder="Escribe aquí tu contraseña nueva, otra vez">
          <p class="feedback"><%= locals.errors?.new_password_confirm?.msg %> </p>
      
          <input class="botons" type="submit" value="Cambiar contraseña">
        </form>
      </main>
      <%- include("../partials/footer") %>
    </div>
  </body>

</html>