<!DOCTYPE html>
<html lang="es">

  <head>
    <%- include("../partials/head") %>
    <title>Tu perfil</title>
    <link rel="stylesheet" href="/css/style-perfil.css">
    <script defer src="/js/validations/users/user-image.js"></script>
  </head>

  <body>
    <%- include("../partials/header") %>
    <%- include("../partials/whatsapp") %>
    <div class="body-wrapper">
      <main>
        <div class="wrapper">
          <div class="left">
            <div class="image">
              <img src=<%= "/img/users/" + locals.session.user.img_path %> alt="user" width="100">
              <form class="image-container" action="/users/profile?_method=PUT" method="post" enctype="multipart/form-data">
                <label for="profile_pic" class="btn-2">Cambiar foto</label>
                <input type="file" id="profile_pic" name="profile_pic" accept="image/*">
              </form>
            </div>
            <p class="feedback center">
              <%= locals.errors?.profile_pic?.msg %>
            </p>
            <h2>
              <%= locals.session.user.first_name %> <%= locals.session.user.last_name %>
            </h2>
          </div>
          <div class="right">
            <div class="info">
              <h2>Información Pública</h2>
              <div class="info_data">
                <div class="data">
                  <h4>Email</h4>
                  <p><%= locals.session.user.email %></p>
                </div>
                <div class="data">
                  <h4>
                    <% if (locals.session.user.category == "vendor") { %>
                    Vendedor
                    <% } %>
                    <% if (locals.session.user.category == "buyer") { %>
                    Comprador
                    <% } %>
                  </h4>
                </div>
              </div>
            </div>
            <div class="edit_public">
              <a href="/users/profile/edit/" class="btn-1">Editar Info. Pública</a>
            </div>
            <div class="edit_password">
              <a href="/users/profile/password/" class="btn-1">Cambiar contraseña</a>
            </div>
          </div>
        </div>
      </main>
      
      <%- include("../partials/footer") %>
    </div>
  </body>

</html>