<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head", {title: "Perfil", uniqueStyle: "style-perfil.css"}) %>

  <body>
    <%- include("../partials/header") %>

    <%- include("../partials/whatsapp") %>

    <main>
      <div class="card-container">
        <div class="upper-container">
          <div class="image-container">
            <img src=<%= "/img/users/" + locals.session.user.img_path %> />
            <a href="#" class="btn-2">Cambia foto de perfil</a>
          </div>
        </div>
        <div class="lower-container">
          <div>
            <h3><%= locals.session.user.first_name %> <%= locals.session.user.last_name %></h3>
          </div>
          <diV class="profile-descrip">
            <p>
              <% if (locals.session.user.category == "vendor") { %>
                Vendedor
              <% } %>
              <% if (locals.session.user.category == "buyer") { %>
                Comprador
              <% } %>
            </p>
            <p><%= locals.session.user.email %></p>
          </diV>
          <div>
            <a href="/users/profile/edit/" class="btn-1">Editar Perfil</a>
          </div>        

          <div>
            <a href="#" class="btn-3">Cambiar contraseña</a>
          </div>
          
        </div>
      </div>
    </main>

    <%- include("../partials/footer") %>
  </body>

</html>