<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head", {title: "Perfil", uniqueStyle: "style-perfil.css"}) %>

  <body>
    <%- include("../partials/header") %>

    <%- include("../partials/whatsapp") %>

    <main>
      <div class="card-container">
        <div class="upper-container">
          <div class="image-container">
            <img src=<%= "/img/users/" + locals.user.img_path %> />
          </div>
        </div>
        <div class="lower-container">
          <div>
            <h3><%= locals.user.first_name %> <%= locals.user.last_name %></h3>
          </div>
        </div>
        <div>
          <p>
            sodales accumsan ligula. Aenean sed diam tristique, fermentum mi nec, ornare arch.
          </p>
        </div>
        <div>
          <a href="#" class="btn">View profile</a>
        </div>
      </div>
    </main>

    <%- include("../partials/footer") %>
  </body>

</html>