<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head", {title: "Registro"}) %>

  <body>
    <%- include("../partials/header") %> 

    <main>
      <form class="form-register" action="/users/register" method="post" enctype="multipart/form-data">
        <h3>Formulario de registro</h3>

        <label for="name">Nombre:</label>
        <input class="controls login-box__input" type="text" name="name" id="name" value="<%= locals.old && old.name %>" placeholder="Ingrese su nombre aquí"  autofocus>
        <% if (locals.errors && errors.name) { %>
          <p class="feedback"><%= errors.name.msg %> </p>
        <% } %>
        
        <label for="surname">Apellido:</label>
        <input class="controls login-box__input" type="text" name="surname" id="surname" value="<%= locals.old && old.surname %>" placeholder="Ingrese sus apellidos aquí">
        <% if (locals.errors && errors.surname) { %>
          <p class="feedback"><%= errors.surname.msg %> </p>
        <% } %>
        
        <label for="category">Categoria:</label>
        <div class="category">
          <input type="radio" name="category" id="buyer" value="buyer" checked>
          <label for="buyer">Comprador</label>
        </div>
        <div class="category">
          <input type="radio" name="category" id="vendor" value="vendor">
          <label for="vendor">Vendedor</label>
        </div>
        
        <label for="email">Correo electrónico:</label>
        <input class="controls login-box__input" type="email" name="email" id="email" value="<%= locals.old && old.email %>" placeholder="Ingrese su correo aquí">
        <% if (locals.errors && errors.email) { %>
          <p class="feedback"><%= errors.email.msg %> </p>
        <% } %>
        
        <label for="password">Contraseña:</label>
        <input class="controls login-box__input" type="password" name="password" id="password" placeholder="Ingrese su contraseña aquí">
        <% if (locals.errors && errors.password) { %>
          <p class="feedback"><%= errors.password.msg %> </p>
        <% } %>

        <label for="passwordConfirm">Confirmar contraseña:</label>
        <input class="controls login-box__input" type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Ingrese su contraseña aquí">
        <% if (locals.errors && errors.passwordConfirm) { %>
          <p class="feedback"><%= errors.passwordConfirm.msg %> </p>
        <% } %>

        <label for="profile-pic">Foto de perfil:</label>
        <input class="controls login-box__input" type="file" name="profile-pic" id="profile-pic" accept="image/*">
        
        
        <p class="terms">
          <input type="checkbox" name="agree" id="agree">
          <label for="agree">
            Estoy de acuerdo con los <a href="#"><b>Términos y Condiciones</b></a>
          </label>
        </p>
        
        <input class="botons" type="submit" value="Registrar">
      </form>
    </main>

    <%- include("../partials/footer") %>
  </body>

</html>