<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    
    <link rel="icon" href="/img/logo.png" type="image/*" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/profileDetailStyling.css">
    <% if (locals.uniqueStyle) { %>
      <link rel="stylesheet" href= <%= "/css/" + uniqueStyle %> >
    <% } %>
  </head>
  <body>
    <%- include("./partials/header") %>
    <%- include("./partials/whatsapp") %>
    <div class= "card-container">
    <div class="upper-container">
      <div class="image-container">
        <img src= <%= "/img/users" + user.image %> />
      </div>
    </div>
    <div class="lower-container">
      <div>
        <h3><%= user.name %></h3>
      </div>
    </div>
    <div>
      <p>sodales accumsan ligula. Aenean sed diam tristique,
        fermentum mi nec, ornare arch.
     </p>
    </div>
    <div>
      <a href="#" class="btn">View profile</a>
    </div>
  </div>
 </div>
    <%- include("./partials/footer") %>
  </body>
</html>

